
<div class="ui-g">
    <div class="ui-g-6" >
        <br>
        <h2>
            วิทยาการคอมพิวเตอร์
        </h2>
        <p>
            Informatics Mahasarakham University
        </p>
        <img src="./assets/images/logo-it-x.png" class="img"> 
        
    </div>
    <div class="ui-g-6" >
        <br>
        <p-menubar [model]="items">
            <div>
                <input type="text" pInputText placeholder="Search">
                <button pButton label="ค้นหา"style="margin-left:. 25em"></button>
            </div>
        </p-menubar>
    </div>
</div>
        
        
        
        
 
