<!DOCTYPE html>
<html >
<head>
    <title></title>
    
</head>
    <body>
        <div class="slidershow middle">

            <div class="slides">

                <input type="radio" name="r" id="r1" checked> 
                <input type="radio" name="r" id="r2">
                <input type="radio" name="r" id="r3">
                <input type="radio" name="r" id="r4">
                <input type="radio" name="r" id="r5">
                
                <div class="slide s1" *ngIf = "this.allnew && this.allnew[0] != undefined">
                    <img src={{this.allnew[0].new_image}} 
                    [routerLink]="['/new/'+this.user_username,this.allnew[0].new_ID]"
                    >
                </div>
                <div class="slide" *ngIf = "this.allnew && this.allnew[1] != undefined">
                    <img src={{this.allnew[1].new_image}} 
                    [routerLink]="['/new/'+this.user_username,this.allnew[1].new_ID]"
                    >
                </div>
                <div class="slide" *ngIf = "this.allnew && this.allnew[2] != undefined">
                    <img src={{this.allnew[2].new_image}} 
                    [routerLink]="['/new/'+this.user_username,this.allnew[2].new_ID]"
                    >
                </div>
                <div class="slide" *ngIf = "this.allnew && this.allnew[3] != undefined">
                    <img src={{this.allnew[3].new_image}} 
                    [routerLink]="['/new/'+this.user_username,this.allnew[3].new_ID]"
                    >
                </div>
                <div class="slide" *ngIf = "this.allnew && this.allnew[4] != undefined">
                    <img src={{this.allnew[4].new_image}} 
                    [routerLink]="['/new/'+this.user_username,this.allnew[4].new_ID]"
                    >
                </div>
            </div>

            <div class="navigation">
                <label for="r1" class="bar"></label>
                <label for="r2" class="bar"></label>
                <label for="r3" class="bar"></label>
                <label for="r4" class="bar"></label>
                <label for="r5" class="bar"></label>
            </div>

        </div>
    </body>
</html>