<style>
    /* .footer{
        position: absolute;
        top: 170%;
        right: 20%;
        margin-right: -320px;
        width: 1600px;
        background-color: rgba(27,31,34,0.85);
    } */

    h1{
        font-size: 1rem;
        line-height: 1.4;
        text-align: center;
        color: white;

        margin-top: -20px;
        
    }
    
</style>
<br><hr>
<div class="footer">
    <h1>
        This website is developed by sleep. <br>
    contact: <fa-icon [icon]="email"></fa-icon> sotonrat@gmail.com
    </h1>
</div>