<!DOCTYPE html>
<html >
<head>
    <style>
       body{
            background-image: url(https://campus.campus-star.com/app/uploads/2017/02/IMG_6492.jpg);
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        } 
    </style>
    
</head>
    <body>
        
        <div class="wrapper">
            <div class="one" style=" background-color: rgba(9, 8, 85, 0.85);">
              <div class="ui-g">
                <div class="ui-g-6" >
                    <h1>
                        วิทยาการคอมพิวเตอร์
                    </h1>
                    <p>
                        Informatics Mahasarakham University
                    </p>
                    <img src="./assets/images/logo-it-x.png" class="img"> 
                </div>
                <div class="ui-g-6" >
                    <br>
                    <p-menubar [model]="items" ></p-menubar>
                </div>
            </div>



            </div>
            <div *ngFor="let result of results" class="two"  style="text-align: center;" >
                <div class="headder" >
                    <label style="font-size: x-large;color: white;font-weight: bold;">{{ result.new_title }}</label>
                   
                </div>
               
                <div class="top">
                    <div  *ngIf="show" >
                   <label style="background-color: rgb(243, 225, 60);font-size: medium;">แก้ไขหัวข้อข่าว</label>   &nbsp;
                  <input type="text" style="text-align: center;" value="{{this.results[0].new_title}}" [(ngModel)]= "nTitle"  > 
               </div>
                <br>    
                    <div style="text-align: center;">
                        <div *ngIf="show" style="text-align: center;">
                            <label  style="background-color: rgb(243, 225, 60);font-size: medium;">แก้ไขรูปภาพ</label> &nbsp;
                            <input type ="file" name="" id="" (change)="getFile($event.target.files)"  > 
                        </div>
                            <br>
                         <img src= {{result.new_image}} alt="" style="width: 500px;height: 300px; 
                            border: 1px solid rgb(27,31,34,0.85)"> <br>
                    </div>
                    <br><br>
               
                <label style="color: black;font-size: medium;">{{result.new_description}}</label> <br>
               <div *ngIf="show" >
                     <label style="background-color: rgb(243, 225, 60);font-size: medium;">แก้ไขเนื้อหาข่าว</label>  &nbsp;
                  <textarea type="text" style="text-align: center;" value="{{this.results[0].new_description}}"  
                  cols="30" rows="5" [(ngModel)]= "nDes" > l{{result.new_description}}
                </textarea>
               
               </div>
                 
              
                  <label style="color: black;font-size: medium;">วันที่โพสต์ :
                  {{result.new_date.substring(8, 10)}}/
                  {{result.new_date.substring(5, 7)}}/
                  {{result.new_date.substring(0, 4)}} |
                  เวลา : {{result.new_date.substring(11, 16)}} น.
                  </label>

                
                <hr noshade="noshade">
                
                </div>

               
    
              
            
            </div>
            <div class="three"></div>
            <div class="four" style="text-align: right; ">
               
                    <button pButton type="button" style="height: 32px; width: 32px;" (click)="toggle()"
                    class="pui-button-rounded ui-button-warning" >
                        <svg xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 14 16" width="30px" height="30px">
                        <path fill-rule="evenodd" d="M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z">
                        </path></svg>
                        </button> 
                    <div  *ngIf="show">
                        <label >แก้ไข</label> &nbsp;
                         <button pButton type="button"  style="height: 32px; width: 32px;" (click)="save()"
                        class="pui-button-rounded ui-button-success" > 
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                          </svg>
                        </button> <br>
                        <label >ลบข่าว</label> &nbsp;
                        <button pButton type="button" style="height: 32px; width: 32px;"  (click)="deletenew()"
                        class="pui-button-rounded ui-button-danger" > <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash2" viewBox="0 0 16 16">
                            <path d="M14 3a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2zM3.215 4.207l1.493 8.957a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836l1.493-8.957C11.69 4.689 9.954 5 8 5c-1.954 0-3.69-.311-4.785-.793z"/>
                          </svg>
                        </button> 
                    </div>
                   
                   
            </div>
          
          </div>
    </body>
</html>





