.img{
    background-repeat: no-repeat;
    width: 80px;
    height: 100px;
    display: block;
    margin-left: 20px;
    margin-top: -100px;
  }
  
  h2{
    font-size: 1.5rem;
    line-height: 1.4;
    text-align: center;
    color: white;
    margin-left: 30px;
  }
  h3{
    font-size: 1.5rem;
    line-height: 1.4;
    text-align: left;
    color: black;
    
  
  }
  
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(100px, auto);
    
  }
  .one {
    grid-column: 1 / 8;
    grid-row: 1;
    background-color:white;  
  }
  .t{
    grid-column: 1 / 2;
    grid-row: 2 / 8;
    background-color: white;
    border: 20px;
  }
  .two { 
    grid-column: 2 / 6 ;
    grid-row: 2 / 8;
   background-color: white;
  }
  .four{
    grid-column: 6 / 8;
    grid-row: 2 / 8;
    background-color:white;

  }

  p{
    font-size: 2.0rem;
    line-height: 1.4
  }

  .form-popup{
    display: none;
    position: fixed;
    top: 30%;
    right:30%;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    width: 450px;
    height: 250px;
    padding: 5px;
    background-color: white;
  }
  
  .form-container .cancel {
    background-color: red;
  }

  #div_top_hypers {
    background-color:#eeeeee;
    display:inline;      
}
#ul_top_hypers li{
    display: inline;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
 
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(27,31,34,0.85);
  color: white;
}

  
  