<!DOCTYPE html>
<html >
<head>
    
    <style>
       body{
            background-image: url(https://campus.campus-star.com/app/uploads/2017/02/IMG_6492.jpg);
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        } 
    </style>
</head>
    <body>
        
        <div class="wrapper">
            <div class="one" style=" background-color: rgba(27,31,34,0.85);">
                <app-hearder3></app-hearder3>
            </div>
            <div class="two">
                <p>
                    &nbsp; <label for="">จัดการ :</label>
                    <a routerLink="/admin_user/{{this.user_username}}" style="color: rgb(238, 237, 236);">สมาชิก </a>
                    <a routerLink="/admin_album/{{this.user_username}}" style="color: rgb(238, 237, 236);">อัลบั้มรูปภาพ </a> 
                    <a routerLink="/admin_new/{{this.user_username}}" style="color: blanchedalmond;">ข่าวประชาสัมพันธ์ </a> 
                    <a routerLink="/admin_web/{{this.user_username}}" style="color: blanchedalmond;">เว็บบอร์ด </a>             
                                    
                </p>

                    <div class="bu" style="text-align: center;">
                        <button pButton type="button" label="เพิ่มผู้ใช้" class="ui-button-raised ui-button-secondary" style="font-size: 1.5rem;" (click)="openForm()">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 16" width="30" height="30"><path fill-rule="evenodd" d="M12 9H7v5H5V9H0V7h5V2h2v5h5v2z"></path></svg>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 16" width="40" height="40"><path fill-rule="evenodd" d="M12 14.002a.998.998 0 01-.998.998H1.001A1 1 0 010 13.999V13c0-2.633 4-4 4-4s.229-.409 0-1c-.841-.62-.944-1.59-1-4 .173-2.413 1.867-3 3-3s2.827.586 3 3c-.056 2.41-.159 3.38-1 4-.229.59 0 1 0 1s4 1.367 4 4v1.002z"></path></svg>
                        </button>

                        <div class="form-popup" id="myForm">
                            <form action="/action_page.php" class="form-container">
                              <h2>Import File Excel</h2>
                              <br> <br>
                              <input type="file" (change)="onFileChange($event) "multiple="false" />
                              <br> <br>
                              <button type="button" class="btn cancel" (click)=" inputData()">Upload</button>
                              <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
                            </form>
                          </div>


                        &nbsp; &nbsp;<button pButton type="button" label="จัดการสมาชิก" (click)="toggle()"
                        class="ui-button-raised ui-button-secondary" style="font-size: 1.5rem;" >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 16" width="30" height="30"><path fill-rule="evenodd" d="M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"></path></svg>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 16" width="40" height="40"><path fill-rule="evenodd" d="M12 14.002a.998.998 0 01-.998.998H1.001A1 1 0 010 13.999V13c0-2.633 4-4 4-4s.229-.409 0-1c-.841-.62-.944-1.59-1-4 .173-2.413 1.867-3 3-3s2.827.586 3 3c-.056 2.41-.159 3.38-1 4-.229.59 0 1 0 1s4 1.367 4 4v1.002z"></path></svg>
                        </button>
                       
                        <div *ngIf="show" style="text-align: center;">
                            <table id="customers">           
                                <thead>
                                <tr> 
                                    <th style="width: 20%; text-align: center;">รหัสนิสิต</th>
                                    <th style="width: 60%; text-align: center;">ชื่อ</th>
                                    <th style="width: 10%; text-align: center;">สถานะ</th>
                                    <th style="width: 10%; text-align: center;">ลบ</th>
                                </tr>
                                </thead>
                           <tbody>
                                    <tr li *ngFor="let user of rUser">
                                   
                                    <td>{{user.user_username}}</td>
                                    <td> {{user.user_name}}</td>
                                    <td>

                                        <button *ngIf="user.user_status == 1" 
                                            pButton type="button"  style="height: 24px; width: 24px;" 
                                            class="pui-button-rounded ui-button-success" > 
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                            </svg>
                                        </button>

                                        <button *ngIf="user.user_status == 0" (click) ="checkUser(user.user_username)"
                                            pButton type="button" style="height: 24px; width: 24px;"  
                                            class="pui-button-rounded ui-button-danger" > 
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                                            </svg>
                                        </button> 
                                    </td>

                                    <td> <button (click) ="deleteUser(user.user_username)">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 16" width="30" 
                                        height="30"><path fill-rule="evenodd" 
                                        d="M11 2H9c0-.55-.45-1-1-1H5c-.55 0-1 .45-1 1H2c-.55 0-1 .45-1 1v1c0 .55.45 1 1 1v9c0 .55.45 1 1 1h7c.55 0 1-.45 1-1V5c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm-1 12H3V5h1v8h1V5h1v8h1V5h1v8h1V5h1v9zm1-10H2V3h9v1z"></path></svg>
                                    </button>
                                </td>
                                    </tr>
                           </tbody>     
                            </table>
                        </div>
                        
                    </div>
            </div>
                
          </div>
        
    </body>
</html>

