


.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(100px, auto);
  
}
.one {
  grid-column: 1 / 8;
  grid-row: 1;
  background-color:white;  
}
.t{
  grid-column: 1 / 2;
  grid-row: 2 / 8;
  background-color: white;

}
.two { 
  grid-column: 1 / 8;
  grid-row: 2 / 8;
 background-color: white;
}

.four{
  grid-column: 6 / 8;
  grid-row: 2 / 8;
  background-color:white;

}

p{
  color: white;
  font-size: 1.2rem;
  line-height: 2.0;
  background-color: rgba(2, 0, 73, 0.85);
}


#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgba(96, 93, 185, 0.85);
  color: white;
}
