<!DOCTYPE html>
<html >
<head>
    <style>
       body{
            background-image: url(https://campus.campus-star.com/app/uploads/2017/02/IMG_6492.jpg);
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        } 
    </style>
</head>
    <body>
        
        <div class="wrapper">
            <div class="one" style=" background-color: rgba(9, 8, 85, 0.85);">
                <app-header2></app-header2>
            </div>
            <div class="two">
                
                    <label for="fname">หัวข้อโพสต์</label> <br>
                    <input id="text" type="text" size = "129"pInputText  [(ngModel)]="text"> <br>
                    <label for="country">เว็บบอร์ด</label>
                    <select id="country"  [(ngModel)]='nrSelect' >
                        <option value="0">เว็บบอร์ดทั่วไป</option>
                        <option *ngIf = "this.myrole != 1" value={{user_username2}}>เว็บบอร์ดรุ่น</option>  
                    </select>
                        
                    <label for="subject">รายละเอียดโพสต์</label>
                    <textarea class="form-control" rows="6" id="text2"  [(ngModel)]="text2"></textarea>
                
                    <button pButton type="button" label="Post" class="ui-button-rounded ui-button-success" (click)='post()'></button>
                  
            </div>
          </div>
    </body>
</html>

