<!DOCTYPE html>
<html >
<head>
    <style>
       body{
            background-image: url(https://campus.campus-star.com/app/uploads/2017/02/IMG_6492.jpg);
            width: 100%;
            height: 110%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        } 
    </style>
</head>
    <body>
        
        <div class="wrapper">
            <div class="one" style=" background-color: rgba(9, 8, 85, 0.85);">
                <app-header2></app-header2>
            </div>
            <div class="two">
                
                    <label for="fname">หัวข้อโพสต์</label> &nbsp;
                    <label style="font-size: smaller;color: red;">* จำเป็น</label>
                    <br>
                    <input id="text" type="text"  class="form-control" pInputText  [(ngModel)]="text"> <br>
                    <label for="country">ประเภทเว็บบอร์ด</label> &nbsp; 
                    <label style="font-size: smaller;color: red;">* จำเป็น</label>
                    <select *ngIf="myrole !=1"
                    id="country"  [(ngModel)]="nrSelect" >
                        <option value="0">เว็บบอร์ดทั่วไป</option>
                        <option value={{user_username2}}>เว็บบอร์ดรุ่น</option>  
                    </select>
                    <select *ngIf="myrole == 1" [(ngModel)]="nrSelect"
                  style="font-size: medium;">
                        <option value="0">อัลบั้มทั่วไป</option>
                        <option disabled>อัลบั้มรุ่น</option>
                        <option *ngFor="let y of rawData" value="{{y}}" value={{y}}>{{y}}</option>
                    </select>
                    <label for="subject">รายละเอียดโพสต์</label> &nbsp;
                    <label style="font-size: smaller;color: red;">* จำเป็น</label>
                    <textarea class="form-control" rows="6" id="text2"  [(ngModel)]="text2"></textarea>
                
                    <button
                    class="btn btn-primary " (click)='post()'>โพสต์</button> &nbsp;
                    <button [routerLink]="['/webboard/'+this.user_username]"
                    class="btn btn-secondary"> ยกเลิก </button>
                  
            </div>
          </div>
    </body>
</html>

