<!DOCTYPE html>
<html >
<head>
    <style>
       body{
            background-image: url(https://campus.campus-star.com/app/uploads/2017/02/IMG_6492.jpg);
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        } 

        .centerScreen{
        position: absolute;
        top: 50%;
        margin-top: -150px;
        left: 50%;
        margin-left: -180px;
    }
    </style>
</head>
    <body>
        
        <div class="wrapper">
            <div class="one" style=" background-color: rgba(9, 8, 85, 0.85);">
                <app-header></app-header>
            </div>
            <div class="two">
              <!-- main app container -->
                  <div class="card m-3">
                    <h5 class="card-header">สมัครสมาชิก | 
                        <a  [routerLink]="" style="font-size: medium;" (click)="nisit()">นิสิต</a> &nbsp;
                        <a  [routerLink]="" style="font-size: medium;" (click)="teacher()">อาจารย์</a>
                    </h5>
                    <div class="card-body" *ngIf="hide == 1">
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div class="form-row">
                            <div class="form-group col-4">
                               
                                <div>
                                    <label >ชื่อผู้ใช้</label>
                                    <label style="font-size: smaller;color: red;">* จำเป็นต้องกรอก</label>
                                    <input type="text" formControlName="username" class="form-control" 
                                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                        <div *ngIf="f.username.errors.required">กรุณากรอกชื่อผู้ใช้</div>  
                                    </div>    
                                </div>

                                   
                            </div>
                             <div class="form-group col-4"> 
                                    <label>Password</label>
                                    <label style="font-size: smaller;color: red;">* จำเป็นต้องกรอก</label>
                                    <input type="password" formControlName="password" class="form-control" 
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">กรุณากรอกรหัสผ่าน</div>
                                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                    </div>  
                            </div>
                             <div class="form-group col-4">
                                <label>เบอร์โทรศัพท์</label>
                                <label style="font-size: smaller;color: red;">* จำเป็นต้องกรอก</label>
                                <input type="text" formControlName="phone" class="form-control" 
                                [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                <div *ngIf="f.phone.errors.required">กรุณากรอกเบอร์โทรศัพท์</div>
                                <div *ngIf="f.phone.errors.pattern"> ex 080-000-0000</div>
                                </div>
                            </div>
                                <div class="form-group col-2">
                                  
                                    <div>
                                     
                                        <label>ตำแหน่งทางวิขาการ</label>

                                        <select  formControlName="role" class="form-control" style="font-size: medium;"
                                        [ngClass]="{ 'is-invalid': submitted  && f.role.errors }">
                                        <option *ngFor="let result of pre" value="{{result.name}}">{{result.name}}</option>
                                        </select>
                                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                            <div *ngIf="f.title.errors.required">กรุณากรอกคำนำหน้าชื่อ</div>
                                        </div>
                                    </div>
                                
                                </div>
                                <div class="form-group col-5">
                                    <label>ชื่อ</label>
                                    <label style="font-size: smaller;color: red;">* จำเป็นต้องกรอก</label>
                                    <input type="text" formControlName="firstName" class="form-control" 
                                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                        <div *ngIf="f.firstName.errors.required">กรุณากรอกชื่อ</div>
                                    </div>
                                </div>
                                <div class="form-group col-5">
                                    <label>นามสกุล</label>
                                    <label style="font-size: smaller;color: red;">* จำเป็นต้องกรอก</label>
                                    <input type="text" formControlName="lastName" class="form-control" 
                                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                        <div *ngIf="f.lastName.errors.required">กรุณากรอกนามสกุล</div>
                                    </div>
                                </div>
                          
                            <div class="form-group col-6">
                                <label>Email</label>
                                <label style="font-size: smaller;color: red;">* จำเป็นต้องกรอก</label>
                                <input type="text" formControlName="email" class="form-control" 
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">กรุณากรอก email</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                               
                            </div>
                            <div class="form-group col-6">
                                <label>Facebook</label>
                                <label style="font-size: smaller;color: red;">* จำเป็นต้องกรอก</label>
                                <input type="text" formControlName="facebook" class="form-control" 
                                [ngClass]="{ 'is-invalid': submitted && f.facebook.errors }" />
                                <div *ngIf="submitted && f.facebook.errors" class="invalid-feedback">
                                <div *ngIf="f.facebook.errors.required">กรุณากรอก Facebook</div>
                                </div>  
                            </div>
                            
                        </div>    
                          
                            <div class="text-center">
                                <button class="btn btn-primary mr-1">Register</button>
                                <button class="btn btn-secondary" type="reset" 
                                [routerLink]="['/home']">Cancel</button>
                            </div>
                        </form>
                    </div>

                    <div class="card-body" *ngIf="hide == 0">
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div class="form-row">
                            <div class="form-group col-4">
                                <div >
                                    <label >รหัสนิสิต</label> 
                                    <label style="font-size: smaller;color: red;">* จำเป็นต้องกรอก</label>
                                    <input type="text" formControlName="username" class="form-control" 
                                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                        <div *ngIf="f.username.errors.required">กรุณากรอกรหัสนิสิต</div>
                                        <div *ngIf="f.username.errors.pattern">รหัสนิสิต 11 หลัก</div>
                                    </div>    
                                </div>

                                   
                            </div>
                             <div class="form-group col-4"> 
                                    <label>Password</label>
                                    <label style="font-size: smaller;color: red;">* จำเป็นต้องกรอก</label>
                                    <input type="password" formControlName="password" class="form-control" 
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">กรุณากรอกรหัสผ่าน</div>
                                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                    </div>  
                            </div>
                             <div class="form-group col-4">
                                <label>เบอร์โทรศัพท์</label>
                                <label style="font-size: smaller;color: red;">* จำเป็นต้องกรอก</label>
                                <input type="text" formControlName="phone" class="form-control" 
                                [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                <div *ngIf="f.phone.errors.required">กรุณากรอกเบอร์โทรศัพท์</div>
                                <div *ngIf="f.phone.errors.pattern"> ex 080-000-0000</div>
                                </div>
                            </div>
                                <div class="form-group col-2">
                                    <div>
                                    <label>คำนำหน้า</label>
                                    <label style="font-size: smaller;color: red;">* จำเป็น</label>
                                        <select formControlName="title" class="form-control" style="font-size: medium;"
                                        [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                                            <option value=""></option>
                                            <option value="นาย">นาย</option>
                                            <option value="นางสาว">นางสาว</option>
                                        </select>
                                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                            <div *ngIf="f.title.errors.required">กรุณากรอกคำนำหน้าชื่อ</div>
                                        </div>
                                    </div>
                                 
                                
                                </div>
                                <div class="form-group col-5">
                                    <label>ชื่อ</label>
                                    <label style="font-size: smaller;color: red;">* จำเป็นต้องกรอก</label>
                                    <input type="text" formControlName="firstName" class="form-control" 
                                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                        <div *ngIf="f.firstName.errors.required">กรุณากรอกชื่อ</div>
                                    </div>
                                </div>
                                <div class="form-group col-5">
                                    <label>นามสกุล</label>
                                    <label style="font-size: smaller;color: red;">* จำเป็นต้องกรอก</label>
                                    <input type="text" formControlName="lastName" class="form-control" 
                                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                        <div *ngIf="f.lastName.errors.required">กรุณากรอกนามสกุล</div>
                                    </div>
                                </div>
                            <div class="form-group col-2">
                                <div>
                                    <label>สถานะ</label>
                                    <label style="font-size: smaller;color: red;">* จำเป็น</label>
                                    <select  formControlName="role" class="form-control" style="font-size: medium;"
                                    [ngClass]="{ 'is-invalid': submitted  && f.role.errors }">
                                        <option value=""></option>
                                        <option value="2">ศิษย์ปัจจุบัน</option>
                                        <option value="3">ศิษย์เก่า</option>
                                    </select>
                                </div>
                            
                                  
                                    
                            </div>
                            <div class="form-group col-5">
                                <label>Email</label>
                                <label style="font-size: smaller;color: red;">* จำเป็นต้องกรอก</label>
                                <input type="text" formControlName="email" class="form-control" 
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">กรุณากรอก email</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                               
                            </div>
                            <div class="form-group col-5">
                                <label>Facebook</label>
                                <label style="font-size: smaller;color: red;">* จำเป็นต้องกรอก</label>
                                <input type="text" formControlName="facebook" class="form-control" 
                                [ngClass]="{ 'is-invalid': submitted && f.facebook.errors }" />
                                <div *ngIf="submitted && f.facebook.errors" class="invalid-feedback">
                                <div *ngIf="f.facebook.errors.required">กรุณากรอก Facebook</div>
                                </div>  
                            </div>
                            
                        </div>    
                          
                            <div class="text-center">
                                <button class="btn btn-primary mr-1">Register</button>
                                <button class="btn btn-secondary" type="reset" 
                                [routerLink]="['/home']">Cancel</button>
                            </div>
                        </form>
                    </div>

                  </div>
            </div>
            
         </div>
    </body>
</html>