
<div class="ui-g">
        <div class="ui-g-6" >
          
            <h1>
                วิทยาการคอมพิวเตอร์
            </h1>
            <p>
                Informatics Mahasarakham University
            </p>
            <img src="./assets/images/logo-it-x.png" class="img"> 
            
        </div>
        <div class="ui-g-6" >
            <br> <br>
            <p-megaMenu [model]="items" ></p-megaMenu>
            <div style="text-align: right;">
                <button pButton (click) ="logOut()"
                type="button" label="ออกจากระบบ" 
                class="pui-button-rounded ui-button-danger"></button>
                </div>
        </div>
    </div>
    
    