<!DOCTYPE html>
<html >
<head>
    <style>
       body{
            background-image: url(https://campus.campus-star.com/app/uploads/2017/02/IMG_6492.jpg);
            width: 100%;
            height: 120%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        } 
    </style>
    
</head>
    <body>
        
        <div class="wrapper">
            <div class="one" style=" background-color: rgba(27,31,34,0.85);">
              <div class="ui-g">
                <div class="ui-g-6" >
                    <br>
                   
                    <h2>
                        วิทยาการคอมพิวเตอร์
                    </h2>
                   
                    <p>
                        Informatics Mahasarakham University
                    </p>
                    <img src="../../assets/images/logo-it-x.png" class="img"> 
                    
                   
                    
                </div>
                <div class="ui-g-6" >
                    <br>
                    <p-menubar [model]="items" >
                       
                    </p-menubar>
                </div>
            </div>



            </div>
            <div *ngFor="let result of results" class="two" >
              <div style="text-align: right; ">
                <button pButton type="button" style="height: 32px; width: 32px;" (click)="toggle()"
                class="pui-button-rounded ui-button-warning" >
                    <svg xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 14 16" width="30px" height="30px">
                    <path fill-rule="evenodd" d="M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z">
                    </path></svg>
                </button> &nbsp; 
                <button pButton pRipple type="button" icon="pi pi-check" (click) ="editWeb()"
                 class="p-button-rounded" *ngIf="show"></button> <br> <br>

                 <button pButton type="button" style="height: 32px; width: 32px;"  (click) ="deleteweb()"
                 class="pui-button-rounded ui-button-danger" *ngIf="show"> 
                 <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash2" viewBox="0 0 16 16">
                     <path d="M14 3a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2zM3.215 4.207l1.493 8.957a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836l1.493-8.957C11.69 4.689 9.954 5 8 5c-1.954 0-3.69-.311-4.785-.793z"/>
                   </svg>
                 </button> 
              </div>
              
                <h3>
                  {{ result.webboard_title }}
                </h3> 
                
                <div  *ngIf="show" >
                  <label style="background-color: rgb(243, 225, 60);">แก้ไขหัวข้อเว็บบอร์ด</label>  &nbsp;
                <input type="text" style="text-align: center;" value="{{this.results[0].webboard_title}}"
                 [(ngModel)]= "webTitle"  >  <br>
                 </div> 

            &nbsp;<label >{{ result.webboard_description}}</label> 

                  <div  *ngIf="show" >
                    <label style="background-color: rgb(243, 225, 60);">แก้ไขรายละเอียด</label>  &nbsp;
                        <input type="text" style="text-align: center;" value="{{this.results[0].webboard_description}}" 
                            [(ngModel)]= "webDes"  > 
                  </div> 
                  
                  <br>
                

                  <label >วันที่โพสต์ :
                  {{result.webboard_date.substring(8, 10)}}/
                  {{result.webboard_date.substring(5, 7)}}/
                  {{result.webboard_date.substring(0, 4)}} |
                  เวลา : {{result.webboard_date.substring(11, 16)}} น.
                  | โดย : {{result.user_name}} </label>
               
                  <hr noshade="noshade">
        
              
                  <div *ngFor="let com of comments"> 
               
                   {{ com.comment_description }} 

                <button *ngIf="com.user_username == this.myid" 
                 pButton type="button" style="height: 20px; width: 24px;" (click)="showCom(com.comment_ID)"
                class="pui-button-rounded ui-button-warning" >
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                </svg>
                </button> &nbsp; 

               <div *ngIf ="showCom">
                <span class="ui-float-label">
                <input *ngIf="com.comment_ID == this.comid" type="text" [(ngModel)]= "commentDes" id="float-input" >
                <label *ngIf="com.comment_ID == this.comid" for="float-input">แก้ไขความคิดเห็น</label> &nbsp;
                </span>
                <button *ngIf="com.comment_ID == this.comid"  
                  pButton type="button" style="height: 24px; width: 24px;"  (click) ="editComment(com.comment_ID)"
                  class="pui-button-rounded ui-button-success" > 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                  </svg>
                  </button> &nbsp;
                    <button *ngIf="com.comment_ID == this.comid" 
                    pButton type="button" style="height: 24px; width: 24px;"  (click) ="deleteComment(com.comment_ID)"
                    class="pui-button-rounded ui-button-danger" > 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2" viewBox="0 0 16 16">
                        <path d="M14 3a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2zM3.215 4.207l1.493 8.957a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836l1.493-8.957C11.69 4.689 9.954 5 8 5c-1.954 0-3.69-.311-4.785-.793z"/>
                      </svg>
                    </button>  <br>
                  โดย : {{ com?.user_name}} <br>
                 วันที่ :  {{com?.comment_date.substring(8, 10)}}/
                {{com?.comment_date.substring(5, 7)}}/
                {{com?.comment_date.substring(0, 4)}} 
                | เวลา : {{ com?.comment_date.substring(11, 16) }}
                <br>       
               </div>
                
                  ------------------------------------------------------------------------------------
                  </div>
              
                        
              <hr noshade="noshade">
             
              <label for="comment">Comment:</label>
              <textarea [rows]="5" [cols]="30" pInputTextarea [(ngModel)]="text"autoResize="autoResize"></textarea>
          <br>
          <button pButton type="button" label="Sumit" class="ui-button-rounded ui-button-success" (click)='addComment()' ></button>
          &nbsp; &nbsp; &nbsp;
          <button [routerLink]="['/webboard/'+this.myValue[0].user_username,{id:postID}]" 
[queryParams]="{page: activePage}" class="btn btn-sm btn-warning"> Back</button>
            </div>
            <div class="three"></div>
            <div class="four"></div>
          
          </div>
    </body>
</html>





