<!DOCTYPE html>
<html >
<head>
    <style>
       body{
            background-image: url(https://campus.campus-star.com/app/uploads/2017/02/IMG_6492.jpg);
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        } 

     
    </style>
</head>
    <body>
        
        <div class="wrapper">
            <div class="one" style=" background-color: rgba(27,31,34,0.85);">
                <app-header2></app-header2>
            </div>
             <div  class="three" >
                    <table id="customers" >
                        <tbody>
                            <tr>
                                <th  style="text-align: center;">รุ่น</th>
                            </tr>
                            &nbsp;&nbsp;<label for="fr">รุ่น:</label> &nbsp;
                            <select id="year" [(ngModel)]="year" (click)="ser()"></select> &nbsp; &nbsp;
                            <button pButton type="button" label="clear" class="ui-button-rounded ui-button-Primary" 
                            (click)='cl()'></button> <br> <br>
                            &nbsp; <input type="text" name="sName" [(ngModel)]= "sName" (ngModelChange)="SearchName()"
                            placeholder="ค้นหาสมาขิก">
                            </tbody>
                        </table>
                   

                </div>

           
            <div class="two" align="center" >
              <table id="customers">           
                    <thead>
                    <tr> 
                        <th>รหัสนิสิต</th>
                        <th>ชื่อ</th>
                        <th>email</th>
                        <th>เบอร์โทรศัพท์</th>
                        <th>facebook</th>
                        <th>role</th>
                    </tr>
                    </thead>
               <tbody>

                           
                        <tr li *ngFor="let user of rUser">
                       
                        <td>{{user.user_username}}</td>
                        <td> {{user.user_name}}</td>
                        <td>{{user.user_email}}</td>
                        <td>{{user.user_phone}}</td>
                        <td>{{user.user_facebook}}</td>   
                        <td>{{user.user_role}}</td>    
                        </tr>
               </tbody>     
                </table>
                
          </div>
           </div>
        
    </body>
</html>