


.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    
  }
  .one {
    grid-column: 1 / 8;
    grid-row: 1;
    background-color:white;  
  }
  .two { 
    grid-column: 2 / 8 ;
    grid-row: 2 / 8;
   background-color: white;
  }
  .three{
    grid-column: 1 / 2;
    grid-row: 2 / 8;
    background-color: white;
  }

  p{
    font-size: 1rem;
    line-height: 1.4;
    text-align: center
    
  }
  .hear{
    grid-column: 2 / 6;
    grid-row: 2 ;
    padding: 20px;
    background-color: rgba(2, 0, 73, 0.85);
  }
  .head{
    font-size: x-large;
    color: white;
    font-weight: bold;
    }

  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(2, 0, 73, 0.85);
    color: white;
  }
  
  