<!DOCTYPE html>
<html >
<head>
    <style>
       body{
            background-image: url(https://campus.campus-star.com/app/uploads/2017/02/IMG_6492.jpg);
            width: 100%;
            height: 120%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        } 
    </style>
</head>
    <body>
     
        <div class="wrapper">
            <div class="one" style=" background-color: rgba(9, 8, 85, 0.85);">
                <div class="ui-g">
                    <div class="ui-g-6" >
                        <h1>
                            วิทยาการคอมพิวเตอร์
                        </h1>
                        <p>
                            Informatics Mahasarakham University
                        </p>
                        <img src="./assets/images/logo-it-x.png" class="img"> 
                    </div>
                    <div class="ui-g-6" >
                        <br>
                        <p-menubar [model]="items "></p-menubar>
                        <div style="text-align: right;">
                            <button pButton (click) ="logOut()"
                            type="button" label="ออกจากระบบ" 
                            class="pui-button-rounded ui-button-danger"></button>
                        </div>

                    </div>
                </div>
            </div>
            

           
            <div class="two" align="center">
                <table class="table table-sm" >
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col" colspan="2">ข้อมูลสมาชิก</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let result of results">
                      <tr >
                        <th  *ngIf="result.user_role != '1'" class="table-secondary text-right" width="200" scope="row">รหัสนิสิต &nbsp;</th>
                        <th *ngIf="result.user_role == '1'" class="table-secondary text-right" width="200" scope="row">ชื่อผู้ใช้ &nbsp;</th>
                        <td> {{ result.user_username }} </td>
                      </tr>
                      <tr>
                        <th class="table-secondary text-right" scope="row">ชื่อ &nbsp;</th>
                        <td> {{result.user_prefix}} {{ result.user_name }} </td>
                      </tr>
                      <tr  *ngIf="result.user_role != '1'">
                        <th class="table-secondary text-right" scope="row">ปีที่จบ &nbsp;</th>
                        <td> {{ result.user_year }} </td>
                      </tr>
                      <tr>
                        <th class="table-secondary text-right" scope="row">email &nbsp;</th>
                        <td>  {{ result.user_email }} </td>
                      </tr>
                      <tr>
                        <th class="table-secondary text-right" scope="row">เบอร์โทรศัพท์ &nbsp;</th>
                        <td> {{ result.user_phone }} </td>
                      </tr>
                      <tr>
                        <th class="table-secondary text-right" scope="row">facebook &nbsp;</th>
                        <td>  <a href="{{ result.user_facebook }}">{{ result.user_facebook }}</a>  </td>
                      </tr>
                      <tr *ngIf="result.user_role != '1'">
                        <th class="table-secondary text-right" scope="row">สถานที่ทำงาน &nbsp;</th>
                        <td> {{ result.user_workname }} </td>
                      </tr>
                      <tr  *ngIf="result.user_role != '1'">
                        <th class="table-secondary text-right" scope="row">ตำแหน่ง &nbsp;</th>
                        <td> {{ result.user_job }} </td>
                      </tr>
                      <tr  *ngIf="result.user_role != '1'">
                        <th class="table-secondary text-right" scope="row">ที่อยู่ที่ทำงาน &nbsp;</th>
                        <td> {{ result.user_workaddress }} </td>
                      </tr>
                      <tr  *ngIf="result.user_role != '1'">
                        <th class="table-secondary text-right" scope="row">เบอร์โทรศัพท์ที่ทำงาน &nbsp;</th>
                        <td> {{ result.user_workphone }} </td>
                      </tr>
                    </tbody>
                  </table>
                  <button *ngIf="this.uid == this.userID" class="btn btn-secondary" 
                  [routerLink]="['/set/'+this.user_username]">แก้ไขข้อมูลส่วนตัว</button>
      

      </div>

      </div>
        
    </body>
</html>




