<!DOCTYPE html>
<html >
<head>
    <style>
       body{
            background-image: url(https://campus.campus-star.com/app/uploads/2017/02/IMG_6492.jpg);
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        } 
    </style>
</head>
    <body>
        
        <div class="wrapper">
            <div class="one" style=" background-color: rgba(9, 8, 85, 0.85);">
                <app-header2></app-header2>
            </div>
            <div class="four"></div>   
            <div class="two">
                <div  *ngFor="let user of rUser ">
                    <div class="three" *ngIf="this.myrole == 1">
                        <!-- main app container -->
                        <div class="card m-3">
                            <h5 class="card-header">แก้ไขข้อมูลส่วนตัว</h5>
                            <label class="card-header" style="font-size: large;"> 

                                    {{user.user_prefix}} {{user.user_name}}
                                </label>
                            <div class="card-body">
                                 
                            <form [formGroup]="registerForm" (ngSubmit)="eDit()">
                                <div class="form-row">
                                    <div class="form-group col-2">
                                        <label style="font-size: medium;">ตำแหน่งทางวิชาการ</label>
                                        <input type="text" formControlName="prefix" class="form-control" style="font-size: medium;"
                                        [ngClass]="{ 'is-invalid': submitted  }" />
                                  
                                    </div>
                                    <div class="form-group col-5">
                                        <label style="font-size: medium;">ชื่อ</label>
                                        <input type="text" formControlName="firstName" class="form-control" style="font-size: medium;"
                                        [ngClass]="{ 'is-invalid': submitted  }" />
                                  
                                    </div>
                                    <div class="form-group col-5">
                                        <label style="font-size: medium;">นามสกุล</label>
                                        <input type="text" formControlName="lastName" class="form-control" style="font-size: medium;"
                                        [ngClass]="{ 'is-invalid': submitted  }" />
                                  
                                    </div>
                                    <div class="form-group col-4">
                                        <label style="font-size: medium;">เบอร์โทรศัพท์</label>
                                        <input type="text" formControlName="phone" class="form-control" style="font-size: medium;"
                                        [ngClass]="{ 'is-invalid': submitted  }" />
                                    <!--  <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                            <div *ngIf="f.phone.errors.required">กรุณากรอกเบอร์โทรศัพท์</div>
                                            <div *ngIf="f.phone.errors.pattern"> ex 080-000-0000</div>
                                        </div> -->
                                    </div>
                                    <div class="form-group col-4"> 
                                        <label style="font-size: medium;">Email</label>
                                        <input type="text" formControlName="email" class="form-control" style="font-size: medium;"
                                        [ngClass]="{ 'is-invalid': submitted  }" />
                                        <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">กรุณากรอก email</div>
                                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                        </div> -->
                                    </div>
                                    <div class="form-group col-4"> 
                                        <label style="font-size: medium;">Facebook</label>
                                        <input type="text" formControlName="facebook" class="form-control" style="font-size: medium;"
                                        [ngClass]="{ 'is-invalid': submitted }" />
                                    <!-- <div *ngIf="submitted && f.facebook.errors" class="invalid-feedback">
                                        <div *ngIf="f.facebook.errors.required">กรุณากรอก Facebook</div>
                                        </div>  -->  
                                    </div>
                                </div>    
                            <div class="text-center">
                                        <button class="btn btn-primary mr-1">แก้ไขข้อมูลส่วนตัว</button>
                                        <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                            </div>
                                </form>
                            </div>
                        </div>
            </div>
                    <div class="three" *ngIf="this.myrole == 2">
                        <!-- main app container -->
                        <div class="card m-3">
                            <h5 class="card-header">แก้ไขข้อมูลส่วนตัว</h5>
                            <label class="card-header" style="font-size: large;"> 
                                    รหัสนิสิต {{user.user_username}} |
                                    {{user.user_prefix}} {{user.user_name}}
                                </label>
                            <div class="card-body">
                                 
                            <form [formGroup]="registerForm" (ngSubmit)="eDit()">
                                <div class="form-row">
                                    <div class="form-group col-4">
                                        <label style="font-size: medium;">เบอร์โทรศัพท์</label>
                                        <input type="text" formControlName="phone" class="form-control" style="font-size: medium;"
                                        [ngClass]="{ 'is-invalid': submitted  }" />
                                    <!--  <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                            <div *ngIf="f.phone.errors.required">กรุณากรอกเบอร์โทรศัพท์</div>
                                            <div *ngIf="f.phone.errors.pattern"> ex 080-000-0000</div>
                                        </div> -->
                                    </div>
                                    <div class="form-group col-4"> 
                                        <label style="font-size: medium;">Email</label>
                                        <input type="text" formControlName="email" class="form-control" style="font-size: medium;"
                                        [ngClass]="{ 'is-invalid': submitted  }" />
                                        <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">กรุณากรอก email</div>
                                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                        </div> -->
                                    </div>
                                    <div class="form-group col-4"> 
                                        <label style="font-size: medium;">Facebook</label>
                                        <input type="text" formControlName="facebook" class="form-control" style="font-size: medium;"
                                        [ngClass]="{ 'is-invalid': submitted }" />
                                    <!-- <div *ngIf="submitted && f.facebook.errors" class="invalid-feedback">
                                        <div *ngIf="f.facebook.errors.required">กรุณากรอก Facebook</div>
                                        </div>  -->  
                                    </div>
                                    <div class="form-group col-4">
                                        <label>สถานะ</label>
                                        <select formControlName="role" class="form-control" style="font-size: medium;"
                                        [ngClass]="{ 'is-invalid': submitted  }">
                                            <option value=""></option>
                                            <option value="2">ศิษย์ปัจจุบัน</option>
                                            <option value="3">ศิษย์เก่า</option>
                                        </select>
                                    </div>
                                </div>    
                            <div class="text-center">
                                        <button class="btn btn-primary mr-1">แก้ไขข้อมูลส่วนตัว</button>
                                        <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                            </div>
                                </form>
                            </div>
                        </div>
            </div>
            <div class="three" *ngIf="this.myrole == 3">
                <!-- main app container -->
                <div class="card m-3">
                    <h5 class="card-header">แก้ไขข้อมูลส่วนตัว</h5>
                    <label class="card-header" style="font-size: large;"> 
                            รหัสนิสิต {{user.user_username}} |
                            {{user.user_prefix}} {{user.user_name}}
                        </label>
                    <div class="card-body">
                         
                    <form [formGroup]="registerForm" (ngSubmit)="eDit()">
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label style="font-size: medium;">ชื่อ</label>
                                <input type="text" formControlName="firstName" class="form-control" style="font-size: medium;"/>
                          
                            </div>
                            <div class="form-group col-6">
                                <label style="font-size: medium;">นามสกุล</label>
                                <input type="text" formControlName="lastName" class="form-control" style="font-size: medium;"/>
                          
                            </div>
                            <div class="form-group col-4">
                                <label style="font-size: medium;">เบอร์โทรศัพท์</label>
                                <input type="text" formControlName="phone" class="form-control" style="font-size: medium;"/>
                            </div>
                            <div class="form-group col-4"> 
                                <label style="font-size: medium;">Email</label>
                                <input type="text" formControlName="email" class="form-control" style="font-size: medium;"/>
                            </div>
                            <div class="form-group col-4"> 
                                <label style="font-size: medium;">Facebook</label>
                                <input type="text" formControlName="facebook" class="form-control" style="font-size: medium;"/>
                            </div>
                            <div class="form-group col-2">
                                <label style="font-size: medium;" >ปีที่จบ</label>
                                <select formControlName="year" class="form-control" style="font-size: medium;">
                                    <option value=""></option>
                                    <option value="2564" style="font-size: medium;">2564</option>
                                    <option value="2563" style="font-size: medium;" >2563</option>
                                </select>
                            </div>
                            <div class="form-group col-5">
                                <label style="font-size: medium;" >สถานที่ทำงาน</label>
                                <input type="text" formControlName="workname" class="form-control" style="font-size: medium;"/>
                            </div>
                            <div class="form-group col-5">
                                <label style="font-size: medium;" >ตำแหน่งงาน</label>
                                <input list="job" formControlName="job" class="form-control" style="font-size: medium;" />
                                <datalist id="job">
                                    <option value="Sytem Analysit">
                                    <option value="System Engineer">
                                    <option value="Tester">
                                    <option value="Project Manger">
                                    <option value="IT consulting">
                                    <option value="IT support / Administrator">
                                    <option value="NetworkAdmin">
                                    <option value="Developer">
                                    <option value="ธุรกิจส่วนตัว">
                                    <option value="ว่างงาน">
                                </datalist> 
                            </div> 
                            <label style="font-size: medium;" >ที่อยู่</label>
                            <div class="form-group col-1">
                                 <br>
                                <label style="font-size: medium;">เลขที่</label>
                                <input type="text" formControlName="no" class="form-control" style="font-size: medium;">  
                            </div>
                            <div class="form-group col-1">
                                <br>
                                <label style="font-size: medium;">หมู่</label>
                                <input type="text" formControlName="swine" class="form-control" style="font-size: medium;">  
                            </div> 
                            <div class="form-group col-2">
                                <br>
                                <label style="font-size: medium;">ถนน</label>
                                <input type="text" formControlName="road" class="form-control" style="font-size: medium;">  
                            </div>
                            <div class="form-group col-2">
                                <br>
                                <label style="font-size: medium;">ตำบล</label>
                                <input type="text" formControlName="subdistrict" class="form-control" style="font-size: medium;">  
                            </div> 
                            <div class="form-group col-3">
                                <br>
                                <label style="font-size: medium;">อำเภอ</label>
                                <input type="text" formControlName="district" class="form-control" style="font-size: medium;">  
                            </div>
                            <div class="form-group col-2">
                                <br>
                                <label style="font-size: medium;">จังหวัด</label>
                                <input type="text" formControlName="county" class="form-control" style="font-size: medium;">  
                            </div> 

                            <div class="form-group col-2"> 
                                &nbsp;&nbsp;
                                <label style="font-size: medium;">รหัสไปรษณี</label>
                                <input type="text" formControlName="zipcode" class="form-control" style="font-size: medium;">  
                            </div>
                            <div class="form-group col-2">
                                <label style="font-size: medium;" >เบอร์โทรศัพท์ที่ทำงาน </label>
                                <input type="textarea" formControlName="workphone" class="form-control" style="font-size: medium;"/>
                            </div>
                        </div>    
                    <div class="text-center">
                                <button class="btn btn-primary mr-1" style="font-size: medium;">แก้ไขข้อมูลส่วนตัว</button>
                                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                    </div>
                        </form>
                    </div>
                </div>

    </div>
        </div>            
        </div>
               <div class="five"></div>
            </div>
             
    </body>
</html>


