<!DOCTYPE html>
<html >
<head>
    <style>
       body{
            background-image: url(https://campus.campus-star.com/app/uploads/2017/02/IMG_6492.jpg);
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        } 
    </style>
</head>
    <body>
        
        <div class="wrapper">
            <div class="one" style=" background-color: rgba(27,31,34,0.85);">
                <app-hw></app-hw>
            </div>
            <div class="two">
                <h1>
                    แข่ง ROV
                </h1>
               &nbsp; <p>
                แข่งROV สมัครแข่งฟรี Gen-Esport ROV 5V5 Ep.5 <br>
                วิธีสมัคร https://www.youtube.com/watch?v=Tx9dGgPn01Y <br>
                
                สมัครแข่งและดูตาราง >>> https://bit.ly/2WovnIH <br>
                DISCORD นัดการแข่งขัน แจ้งชื่อส่งผล <br>
                https://discord.gg/KkvGbZU <br>
                กติกาการแข่งขัน <br>
                https://www.gen-esport.com/rov-2 <br>
                
                เริ่มแข่ง Best Of 3 Tournament Nomal Ban <br>
                
                Round 256 ทีม อังคารที่ 4 ส.ค. 19:30 น. <br>
                
                Round 128 ทีม พฤหัสบดีที่ 6 ส.ค. 19:30 น. <br>
                
                Round 64 ทีม ศุกร์ที่ 7 ส.ค. 19:30 น. <br>
                
                Round 32 ทีม จันทร์ที่ 10 ส.ค. 19:30 น. <br>
                
                Round 16 ทีม อังคารที่ 11 ส.ค. 19:30 น. <br>
                
                Round 8 ทีม พุธที่ 12 ส.ค. 19:30 น. <br>
                
                Round 4 ทีม พฤหัสบดีที่ 13 ส.ค. 19:30 น. <br>
                
                Final Round ศุกร์ที่ 14 ส.ค. 19:30 น. <br>
                
                รางวัลอันดับที่ 1 มูลค่า 5,000 บาท <br>
                รางวัลอันดับที่ 2 มูลค่า 2,500 บาท <br>
                รางวัลอันดับที่ 3 มูลค่า 1,000 บาท <br>
                รางวัลอันดับที่ 4-8 ทีมละ 500 บาท <br>
                </p>
                <hr noshade="noshade">
                <h4>
                   &nbsp; <label for="">โสธรรัตน์</label> &nbsp;
                    <label for="">วันที่ 8 ส.ค พ.ศ.2563 เวลา 13.20 น. </label> 
                </h4>
              <p>  &nbsp;&nbsp;  &nbsp;&nbsp; น่าสนใจ !!!</p>
              <hr noshade="noshade">
             
              <label for="comment">Comment:</label>
          <textarea class="form-control" rows="5" id="comment" required></textarea>
          <br>
          <button pButton type="button" label="Sumit" class="ui-button-rounded ui-button-success"></button>
            </div>
          </div>
    </body>
</html>


